.custom-table {
    th, td {
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    font-size: 120%;
    padding-right: 35px;
    padding-left: 35px;

        &:first-child {
        width: 100%;
        }  
    }

    th {
    color: #c2c2c2;
    font-weight: normal;
    }

    th:first-child {
        padding-right: 20px;
    }

    tfoot {
        td {
            border-bottom: none;
            font-size: 150%;
    }
    }

}