@mixin button-style($color, $color-dark) {
    color: $color;
    border-color: $color;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
        color: $color-dark;
        border-color: $color-dark;
        background-color: transparent;
    }
}